<div class="container">
  <div class="wrapper">
    <h1 class="header">Domanik Johnson </h1>
    <p class="header-text">Software Engineer with a passion for robotics! Here I will upload my personal projects! </p>
    <p class="header-text ">This is not a personal website just where I put so others can view my work!</p>
  </div>
</div>

<mat-grid-list cols="3" rowHeight="4:1">
   <mat-grid-tile>Coming Soon!</mat-grid-tile>
   <mat-grid-tile>Coming Soon!</mat-grid-tile>  
   <mat-grid-tile>Coming Soon!</mat-grid-tile>
   <mat-grid-tile>Coming Soon!</mat-grid-tile>
   <mat-grid-tile>Coming Soon!</mat-grid-tile>  
   <mat-grid-tile>Coming Soon!</mat-grid-tile>
   <mat-grid-tile>Coming Soon!</mat-grid-tile>
   <mat-grid-tile>Coming Soon!</mat-grid-tile>  
   <mat-grid-tile>Coming Soon!</mat-grid-tile>
 </mat-grid-list>
 